<div class="confirmation_page container">
  <h3>Payment Successful!</h3>
  <p> Thanks for funding <%= @reward.project.title %>!" </p>
  <p> Your card has been charged <%= @reward.price %> </p>
</div>
