<div class="card blue-grey lighten-3 rewards_list container">

  <% @project.rewards.each do |reward| %>
  <div class="card-content">
    <span class="card-title"> <%= reward.title %></span>
      <p><%= reward.description %></p>
      <%= button_to "Continue", cart_path, class: "waves-effect waves-light btn" %>
  </div>
  <% end %>
</div>
