/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= owl.carousel
 *= owl.theme

 */
@import "owl.carousel";
@import "owl.theme";
@import "materialize";
.projects-show {
  .card.horizontal {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
      }

  .container {
    width: 100%;
    height: 100%;
    float: left;
    .content {
      margin: 3em;
    }
  }

  .divider {
  height: 5px;
  }

  .amount {
    color: #43a047;
    font-size: 25px;
  }

  .waves-effect {
    width: 400px;
    height: 50px;
    // background-color: #43a047;
    text-align: center;
    padding: 8px;
  }

  .flow-text {
    font-size: 10px;
  }
}

i.aqua-thumb {
  color: aqua;
}
i.red-thumb {
  color: red;
}
.category-link:hover {
  color: orange;
}

.category-title {
  margin-left: 150px;
}
