<nav>

  <div class="nav-wrapper">

    <ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><a href="about.html">About Us</a></li>
			<li><a href="/categories">Categories</a></li>
			<li><a href="projects/create">Start a Project</a></li>
			<%= content_tag :a, "Puntstartr", class: "brand-logo center" %>
		</ul>
    <%= current_user_nav_element %>
  </div>
</nav>
