<ul id="dropdown1" class="dropdown-content">
  <% if @categories %>
    <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, "/categories/#{category.name}", class: "category_dropdown_link" %>
      </li>
    <% end %>
  <% end %>
  <li class="divider"></li>
  <li><a href='/categories'>All Categoies</a></li>
</ul>
<nav>
  <div class="nav-wrapper grey">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><%= link_to 'All Projects', root_path  %></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
			<li><a href="projects/new">Start a project</a></li>
			<%= link_to((image_tag "Puntstartr", class: "brand-logo center", width: "225"), root_path) %>
		</ul>
    <%= current_user_nav_element %>
  </div>
</nav>
