<nav>

  <div class="nav-wrapper grey">


    <ul id="nav-mobile" class="left hide-on-med-and-down">
			<li><%= link_to 'All Projects', root_path  %></li>
			<li><a href="/categories">Categories</a></li>
			<li><a href="projects/new">Start a project</a></li>
			<%= link_to((image_tag "logo 1", class: "brand-logo center", width: "225"), root_path) %>
		</ul>
    <%= current_user_nav_element %>
  </div>
</nav>
